@model GBAdmin.Web.Models.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profile";
}

<!-- custom css  -->
<link href='@Url.Content("~/Content/custom/ViewProfile.css")' rel="stylesheet" />
<link href='@Url.Content("~/Content/jquery.Jcrop.css")' rel="stylesheet" />
<link href='@Url.Content("~/Content/jquery.Jcrop.min.css")' rel="stylesheet" />
<style>
     div.jcrop-holder{
         background-color:white !important;
         height:500px !important;
         width:400px !important;
     }

     #Message {
        margin-top: 2%;
        background: #1ab394;
        color: white;
        padding: 1%;
        margin-bottom: 2%;
        display: none;
        height: 36px;
        /*height: 76px;*/
    }

        #Message .msg-close {
            cursor: pointer;
        }
</style>
@**---Modal for Image Cropping---*@
<div id="divCropResizeImage" class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content  bounceInRight">
            <div class="modal-header">
                <button type="button" id="btnCropClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Crop Image</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" id="btnRotation" type="button" aria-hidden="true" value="Rotation" />
                <input class="btn btn-primary" id="btnSkipCropping" type="submit" aria-hidden="true" value="Skip Cropping" />
                <input class="btn btn-primary" id="btnCrop" type="submit" value="Crop" />
            </div>
        </div>
    </div>
</div>
@*modal for changing password*@
<div class="modal inmodal" id="modalChangePassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" id="btnVerificationClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input id="txtCurrentPassword" type="password" class="form-control" placeholder="Current Password" name="ManageUserViewModel.OldPassword" />
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input id="txtNewPassword" type="password" class="form-control" placeholder="New Password" name="ManageUserViewModel.NewPassword" />
                    </div>
                    <div class="form-group">
                        <label>Retype Password</label>
                        <input id="txtRetypePassword" type="password" class="form-control" placeholder="Retype Password" name="ManageUserViewModel.ConfirmPassword" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnChangePassword">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
@*---Email Verification Modal---*@
<div id="divEmailVerification" class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bounceInRight">
            <div class="modal-header">
                <button type="button" id="btnVerificationClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Verify Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        Verification code has been sent to your provided Email ID.Please check you email id.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row  border-bottom white-bg dashboard-header">
            <div class="col-md-10">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#tabProfileInformation">Profile Information</a>
                        </li>
                        @*<li>
                            <a data-toggle="tab" href="#tab-2">Photo</a>
                        </li>*@
                        <li>
                            <a data-toggle="tab" href="#tabChangePassword">Change Password</a>
                        </li>
                    </ul>
                    <div class="tab-content gray-bg padding-left-3">
                        @*tab 1 content*@

                        <div id="tabProfileInformation" class="tab-pane active">
                        @using (Ajax.BeginForm("ViewProfile", "Users", FormMethod.Post, new AjaxOptions { OnSuccess = "OnProfileUpdateSuccess", OnFailure = "OnProfileUpdateFailure" }, new { role = "form", id = "view-profile-form" }))
                            {
                              
                                <div class="row form-group" style="padding-top:3%">
                                    <div class="row row-padding-top-5">
                                        <div class="form-group col-md-6 col-xs-10 col-xs-offset-1">
                                            <div id="Message">
                                                <span class="pull-left msg-text"></span>
                                                <span class="pull-right msg-close">X</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-padding-top-5">
                                        <div class="col-md-8 col-xs-10 col-xs-offset-1">
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control charAlone", maxlength = "50", placeholder = "First Name", tabIndex = "1" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control charAlone", maxlength = "50", placeholder = "Last Name", tabIndex = "2" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = "50", placeholder = "Email", tabIndex = "3" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control numbersAlone", maxlength = "10", placeholder = "Phone Number", tabIndex = "4" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m=>m.Gender, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>
                                                     { new SelectListItem { Text = "Male", Value = "1"},
                                                       new SelectListItem { Text = "Female", Value = "2"},
                                                  }, "Select Gender", new { @class = "form-control", tabIndex = "5" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.CityID, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.CityID, new List<SelectListItem>
                                                     { new SelectListItem { Text = "Kolkata", Value = "1"},
                                                       new SelectListItem { Text = "Mumbai", Value = "2"},
                                                  }, "Select City", new { @class = "form-control", tabIndex = "6" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.PresentAddress, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.PresentAddress, new { @class = "form-control", maxlength = "50", placeholder = "Present Address", tabIndex = "7" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.PermanentAddress, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.PermanentAddress, new { @class = "form-control", maxlength = "50", placeholder = "Permanent Address", tabIndex = "8" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m=>m.GovtIDType, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.GovtIDType, new List<SelectListItem>
                                                     { new SelectListItem { Text = "PAN Card", Value = "1"},
                                                       new SelectListItem { Text = "Voter ID Card", Value = "2"},
                                                       new SelectListItem { Text = "Driving License", Value = "3"},
                                                        new SelectListItem { Text = "Aadhar Card", Value = "4"},
                                                        new SelectListItem { Text = "Passport", Value = "5"},
                                                  }, "Select GovernmentID Type", new { @class = "form-control", tabIndex = "9" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m => m.GovtID, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model => model.GovtID, new { @class = "form-control", maxlength = "50", placeholder = "Identity Proof Number", tabIndex = "10" })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                @Html.LabelFor(m=>m.HighestEducation, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-6">
                                                    @Html.DropDownListFor(m => m.HighestEducation, new List<SelectListItem>
                                                     { new SelectListItem { Text = "PostGraduate", Value = "PostGraduate"},
                                                       new SelectListItem { Text = "Graduate", Value = "Graduate"},
                                                       new SelectListItem { Text = "UnderGraduate", Value = "UnderGraduate"},
                                                      }, "Select Highest Education", new { @class = "form-control", tabIndex = "11" })
                                                </div>
                                               </div>
                                                <div class="row form-group">
                                                    @Html.LabelFor(m => m.InstitutionName, new { @class = "col-md-3 control-label" })
                                                    <div class="col-md-6">
                                                        @Html.TextBoxFor(model => model.InstitutionName, new { @class = "form-control", maxlength = "50", placeholder = "Institution Name", tabIndex = "12" })
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row row-padding-top-5">
                                        <div class="form-group col-md-6 col-xs-10 col-xs-offset-1">
                                            <div>
                                                <button id="btnSave" class="btn btn-primary full-width" type="submit" tabindex="13">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            }                      
                        </div>
                        @*@*tab 2 content*@
                        @*<div id="tab-2" class="tab-pane">
                            <div class="row form-group" style="padding-top:3%;padding-bottom:3%">
                                <div class="col-md-5">
                                    <img draggable="false" id="imgProfile" style="display:inline-block; height:250px; width:250px; margin: 0 5px 0 10px;" src="@Url.Action(Model.ProfilePicture)" alt="" />
                                </div>
                                <div class="col-md-5 row-padding-top-5">
                                    <p>Upload your cool profile pictures to complete your profile.We ensure that your profile picture is confidential and will not be share with anyone. </p>
                                    <label for="fileProfile" id="fileLabel">
                                        <input id="fileProfile" name="fileProfile" type="file" style="display:none">
                                        <a class="btn btn-green">Upload Photo</a>
                                    </label>
                                    <div id="photoFilePath" style="display:none" class="filePath pull-left">No File Chosen</div>

                                    @Html.HiddenFor(model => model.UserID)
                                    @Html.HiddenFor(model => model.ProfilePicture)
                                    <div id="divErrorFileFormatIMG" style="display:none" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <span id="spnErrorFileFormatIMG" class="error" style="display:none;color:red;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" style="padding-top:3%;padding-left:3%">
                                        <div>
                                            <button id="btnSave" class="btn btn-primary" type="submit" tabindex="5">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="hdnImageCropWidth" name="ImageCropWidth" />
                            <input type="hidden" id="hdnImageCropHeight" name="ImageCropHeight" />
                            <input type="hidden" id="hdnCropPointX" name="CropPointX" />
                            <input type="hidden" id="hdnCropPointY" name="CropPointY" />
                            <input type="hidden" id="hdnCropPointX2" name="CropPointX2" />
                            <input type="hidden" id="hdnCropPointY2" name="CropPointY2" />
                            <input type="hidden" id="hdnFileName" name="ImgFileName" />
                            <input type="hidden" id="hdnImageSource" name="ImageSource" />
                        </div>*@
                        @*tab 3 content*@

                        <div id="tabChangePassword" class="tab-pane">
                        @*@using (Ajax.BeginForm("ChangePassword", "Account", FormMethod.Post, new AjaxOptions { OnSuccess = "OnPasswordChangeSuccess", OnFailure = "OnPasswordChangeFailure" }, new { role = "form", id = "form-ChangePassword" }))
                        {
                             @Html.AntiForgeryToken()
                          
                            <div class="row form-group" style="padding-top:3%">*@
                              
                                @*---Mobile Number---*@
                                @*<div class=" row">
                            <div class="col-md-12">
                                Phone Number
                            </div>
                            <div class="col-md-12">
                                @if (Model.PhoneNumberConfirmed)
                                    {
                                    <p>Your mobile number @Model.PhoneNumber is verfied</p>
                                    }
                                    else
                                    {
                                    <p>
                                        Make it easier to communicate with a verified phone number. We’ll send you a code by SMS or read it to you over the phone.
                                        Enter the code below to confirm that you’re the person on the other end.
                                    </p>
                                    <br />
                                        if (Model.PhoneNumber != null)
                                        {
                                    <p>Your mobile number @Model.PhoneNumber is not verified.Please click the <a id="linkVerify">link</a> to get verification message</p>
                                        }
                                        else
                                        {
                                    <p>No mobile number is added</p>
                                        }
                                    }
                            </div>

                        </div>*@
                                        @*---Email ID---*@
                                        @*<div class="row row-padding-top-5">
                            <div class="col-md-12">
                                Email Address
                            </div>
                            <div class="col-md-12">
                                @if (@Model.EmailConfirmed)
                                {
                                    <p>Your Email ID @Model.Email is verified successfully</p>
                                }
                                else
                                {
                                    <p>
                                        Make it easier to communicate with a verified Email ID.Verify your email id to get attractive offers and updates from our side.
                                        <br />
                                        <br />
                                        Your email id @Model.Email is not verified yet.Please click <a id="linkVerifyEmail">here</a> to verify your email id.<br />
                                        You will recieve message from <b><i>Gaddibaba</i></b>.With just one click on the link given in the mail you can verify.
                                        <br />
                                        <br />
                                        Cant find our message? Please check spam folder or <a id="linkVerifyEmail">Resend Confirmtion Email</a>
                                    </p>
                                }

                            </div>

                        </div>*@
                               @Html.Partial("_ChangePassword",Model.ManageUserViewModel)
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


<!--/wrapper-->
@section scripts{
    <script>
        var CropImageUrl = '@Url.Action("CropImage", "Users")';
        //var ProfileUrl = '@Url.Action("Profile","Users")';
    @*document.getElementById("fileProfile").onchange = function () {
        $("#photoFilePath").html(this.value.split('\\').pop());
        $("#photoFilePath").attr("title", this.value.split('\\').pop());
        $("#hdnFileName").val('@Model.UserID' + '_' + this.value.split('\\').pop());
        };
        $("#btnRotation").click(function () {
            $('div.jcrop-holder').rotate({ animateTo: 90 });

        });

        $('#linkChangePassword').click(function () {
            $("#modalChangePassword").modal('show');
        });*@


        var OnPasswordChangeSuccess = function (data) {
            //$("#modalChangePassword").modal('hide');
            if (data.Success) {
                $('#form-ChangePassword #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#1ab394').show('slow').delay(5000).hide('slow', function () {
                    location.reload();
                });
            } else {
                $('#form-ChangePassword #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#a94442').show('slow').delay(5000).hide('slow', function () {
                   
                });
            }
        }
        var OnPasswordChangeFailure = function (data) {
            //$("#modalChangePassword").modal('hide');
            $('#form-ChangePassword #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#a94442').show('slow').delay(5000).hide('slow', function () {
                location.reload();
            });
        }

        var OnProfileUpdateSuccess = function (data) {
            //$("#modalChangePassword").modal('hide');
            if (data.Success) {
                $('#view-profile-form #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#1ab394').show('slow').delay(5000).hide('slow', function () {
                    location.reload();
                });
            } else {
                $('#view-profile-form #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#a94442').show('slow').delay(5000).hide('slow', function () {

                });
            }
        }
        
        var OnProfileUpdateFailure = function (data) {
            //$("#modalChangePassword").modal('hide');
            $('#view-profile-form #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#a94442').show('slow').delay(5000).hide('slow', function () {
                location.reload();
            });
        }
    </script>
    <script src='@Url.Content("~/Scripts/jQueryRotate.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/User/ViewProfile.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/User/jquery.Jcrop.min.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/User/form-image-crop.js")'></script>
    @*<script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")'></script>*@
}

