@model GBAdmin.Web.Models.DriverViewModel
@{
    ViewBag.Title = "Add Driver";
}
<style>
    .attached-with {
        font-size: 15px;
        padding-bottom: 7%;
    }

        .attached-with label {
            font-weight: normal;
        }

        .attached-with input[type=checkbox] {
            height: 15px;
            width: 15px;
            margin-right: 8%;
            float: left;
        }
        
</style>
@*<div class="modal inmodal fade in hidden" id="modalShowMessage" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p id="addDriverMessage">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary center-block modalClose" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>*@
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="m-t-none m-b">Add new driver</h3>
                @using (Ajax.BeginForm("Add", "Drivers", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions() { OnSuccess = "addDriverSuccess", OnFailure = "addDriverFailed", HttpMethod = "Post" }, new { role = "form", id = "form-addDriver", autocomplete = "off" }))
                {
                    <div class="form-group">
                        <div id="Message"><span class="pull-left msg-text"></span><span class="pull-right msg-close">X</span></div>
                    </div>
                    @Html.AntiForgeryToken();

                    <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="First Name" name="model.FirstName" maxlength="50" tabindex="1" data-val="true" />*@
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control charAlone", maxlength = "50", placeholder = "First Name", tabIndex = "1" })
                    </div>
                    <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="Last Name" name="model.LastName" maxlength="50" tabindex="2" data-val="true" />*@
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control charAlone", maxlength = "50", placeholder = "Last Name", tabIndex = "2" })
                    </div>
                    <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="Phone Number" name="model.PhoneNumber" maxlength="10" tabindex="3" data-val="true" />*@
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control numbersAlone", maxlength = "10", placeholder = "Phone Number", tabIndex = "3" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.CityID, new List<SelectListItem>{
                        new SelectListItem { Text = "Kolkata", Value = "1"},
                        new SelectListItem { Text = "Mumbai", Value = "2"},
                        }, "Select City", new { @class = "form-control", placeholder = "City", tabIndex = "4" })
                    </div>
                    <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="Pincode" name="model.Pincode" maxlength="6" tabindex="4" data-val="true" />*@
                        @Html.TextBoxFor(model => model.Pincode, new { @class = "form-control numbersAlone", maxlength = "6", placeholder = "Pincode", tabIndex = "5" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.LicenceType, new List<SelectListItem>
                            { new SelectListItem { Text = "LMV", Value = "1"},
                            new SelectListItem { Text = "LMV-NT", Value = "2"},
                            new SelectListItem { Text = "LMV-TR", Value = "3"},
                            new SelectListItem { Text = "HMV", Value = "4"},
                            new SelectListItem { Text = "HPMV", Value = "5"},
                            new SelectListItem { Text = "HGMV", Value = "6"},
                            new SelectListItem { Text = "LMV-CAB", Value = "7"},
                            new SelectListItem { Text = "Other", Value = "8"},
                     }, "License Type", new { @class = "form-control",tabIndex = "6" })
                    </div>
                    <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="Licence No" name="model.LicenceNo" maxlength="50" tabindex="6" data-val="true" />*@
                        @Html.TextBoxFor(model => model.LicenceNo, new { @class = "form-control", maxlength = "50", placeholder = "License No", tabIndex = "7" })
                    </div>
                    <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="Expected Salary in INR" name="model.ExpectedSalary" maxlength="50" tabindex="8" data-val="true" />*@
                        @Html.TextBoxFor(model => model.ExpectedSalary, new { @class = "form-control numbersAlone", maxlength = "5", placeholder = "Expected Salary", tabIndex = "8" })
                    </div>
                    <div class="form-group attached-with">
                        @Html.Label("Registered in", new { @class = "col-md-4 control-label pull-left" })
                        <div class="col-md-4">
                            <label>Uber</label>@Html.CheckBoxFor(model => model.Uber, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <label>Ola</label>@Html.CheckBoxFor(model => model.Ola, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group-justified">
                            <input type="submit" class="btn btn-primary full-width" value="Add Driver" id="submit">
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var DriversListUrl = '@Url.Action("List","Drivers")';
        $(document).ready(function () {
            $(".numbersAlone").on("keyup keydown keypress", function (event) { return isNumberKey(event); });
            $(".charAlone").on(" keydown ", function (event) { return isCharField(event); });           
        });

        var addDriverSuccess = function (data) {
            if (data.Success) {
                $('#form-addDriver #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#1ab394').show('slow').delay(5000).hide('slow', function () {
                    window.location.href = DriversListUrl;
                });               
            } else {
                $('#form-addDriver #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#a94442').show('slow').delay(5000).hide('slow', function () {
                    //$(this).prop('disabled', false);
                });
            }            
        };

        var addDriverFailed = function (data) {
            $('#form-addDriver #Message .msg-text').html(data.Message).parent('#Message').css('background-color', '#a94442').show('slow').delay(5000).hide('slow', function () {
                //$(this).prop('disabled', false);
            });
        };
    </script>
}