@model GBAdmin.Web.Models.DriverViewModel

@{
    ViewBag.Title = "Driver Details";
}

<!-- Datatable Css-->
<link href="~/Content/style.css" rel="stylesheet" />
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
<!-- check whether city and area is selected or not to do operations in Estate-->
<!-- View Driver -->
<div class="wrapper wrapper-content animated fadeInRight" id="divDrivers">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Drivers</h5>
                    @*<button class="btn btn-primary pull-right btn-show-add-driver" type="button" style="margin-top:-1%;">Add</button>*@
                </div>
                <div class="ibox-content">
                    <div>
                        <div id="tblDriverDetailsHeader" class="row">
                            <div class="col-md-2"><h4>Driver Name</h4></div>
                            <div class="col-md-2"><h4>Phone Number</h4></div>
                            <div class="col-md-2"><h4>Pincode</h4></div>
                            <div class="col-md-2"><h4>LicenceType</h4></div>
                            <div class="col-md-2"><h4>Licence No</h4></div>
                            <div class="col-md-2"><h4>Registered in Cab Companies</h4></div>
                        </div>
                        @if (Model != null && Model.DriverDetailsList != null && Model.DriverDetailsList.Count > 0)
                        {
                            foreach (var driverDetails in Model.DriverDetailsList)
                            {
                                <div class="row row-padding-top-1 border-bottom padding-left">
                                    <div class="col-md-2">@driverDetails.FirstName @driverDetails.LastName</div>
                                    <div class="col-md-2">@driverDetails.PhoneNumber</div>
                                    <div class="col-md-2">@driverDetails.Pincode</div>
                                    <div class="col-md-2">@driverDetails.LicenceType.Type</div>
                                    <div class="col-md-2">@driverDetails.LicenceNo</div>
                                    <div class="col-md-2">@if (driverDetails.Ola == true) { <label style="font-weight:normal; padding-left:5%">Ola</label> }
                                                          @if(driverDetails.Uber == true){<label style="font-weight:normal">Uber</label>}
                                                          @if(driverDetails.Tfs == true){<label style="font-weight:normal">TFS</label>}
                                    </div>
                                </div>

                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{

    <!-- variables -->
    <script>
        var AddDriverDetailUrl = '@Url.Action("Add", "Drivers")';

    </script>
   
    @Scripts.Render("~/plugins/dataTables")
    <script src='@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")'></script>

}
