@model GBAdmin.Web.Models.DriverViewModel

@{
    ViewBag.Title = "Driver Details";
}

<!-- Datatable Css-->
<link href="~/Content/style.css" rel="stylesheet" />
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

<!-- check whether city and area is selected or not to do operations in Estate-->
<!-- View Driver -->
<div class="wrapper wrapper-content animated fadeInRight" id="divDrivers">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Drivers</h5>
                    @*<button class="btn btn-primary pull-right btn-show-add-driver" type="button" style="margin-top:-1%;">Add</button>*@
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-drivers">
                        <thead>
                            <tr>
                                <th>Driver Name</th>
                                <th>Phone Number</th>
                                <th>Pincode</th>
                                <th>LicenceType</th>
                                <th>Licence No</th>
                                <th>Registered in Cab Companies</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.DriverDetailsList != null && Model.DriverDetailsList.Count > 0)
                            {
                                foreach (var driverDetails in Model.DriverDetailsList)
                                {
                                     <tr class="gradeX">
                                         <td>@driverDetails.FirstName @driverDetails.LastName</td>
                                         <td>@driverDetails.PhoneNumber</td>
                                         <td>@driverDetails.Pincode</td>
                                         <td>@driverDetails.LicenceType.Type</td>
                                         <td>@driverDetails.LicenceNo</td>
                                         <td>@if (driverDetails.Ola == true)
                                         { <label style="font-weight:normal; padding-left:5%">Ola</label> }
                                        @if (driverDetails.Uber == true)
                                        {<label style="font-weight:normal">Uber</label>}
                                        @if (driverDetails.Tfs == true)
                                        {<label style="font-weight:normal">TFS</label>}</td>
                                     </tr>
                                }
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Driver Name</th>
                                <th>Phone Numbe</th>
                                <th>Pincode</th>
                                <th>LicenceType</th>
                                <th>Licence No</th>
                                <th>Registered in Cab Companies</th>
                            </tr>
                        </tfoot>
                        </table>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{

    <!-- variables -->
    <script>
        var AddDriverDetailUrl = '@Url.Action("Add", "Drivers")';

        $(document).ready(function () {
            //Initialize data table
            $('.dataTables-drivers').dataTable({
                /* Disable initial sort */
                "aaSorting": []
            });
        });


    </script>
   
    @Scripts.Render("~/plugins/dataTables")
    <script src='@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")'></script>

}
