@model GBAdmin.Web.Models.DriverViewModel

@{
    ViewBag.Title = "Driver Details";
}

<!-- Datatable Css-->
<link href="~/Content/style.css" rel="stylesheet" />
@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

<!-- check whether city and area is selected or not to do operations in Estate-->
<!-- View Driver -->
<div class="wrapper wrapper-content animated fadeInRight" id="divDrivers">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Drivers</h5>
                    @*<button class="btn btn-primary pull-right btn-show-add-driver" type="button" style="margin-top:-1%;">Add</button>*@
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-drivers">
                        <thead>
                            <tr>
                                <th>Driver Name</th>
                                <th>LicenseType</th>
                                <th>License No</th>
                                @*<th>Registered in</th>*@
                                <th>City</th>
                                <th>Status</th>
                                <th>Added By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.DriverDetailsList != null && Model.DriverDetailsList.Count > 0)
                            {
                                foreach (var driverDetails in Model.DriverDetailsList)
                                {
                                    <tr class="gradeX" id="@driverDetails.ID">
                                        <td class="col-md-2">@driverDetails.FirstName @driverDetails.LastName</td>
                                        <td class="col-md-2">@driverDetails.LicenceType.Type</td>
                                        <td class="col-md-2">@driverDetails.LicenceNo</td>
                                        @*<td class="col-md-2">
                                            @if (driverDetails.Uber == true)
                                            { <label style="font-weight:normal">Uber</label> }
                                            @if (driverDetails.Ola == true)
                                            {<label style="font-weight:normal">Ola</label>}
                                           
                                            @if (driverDetails.Uber == false && driverDetails.Ola == false)
                                            {
                                                <label style="font-weight:normal">NA</label>
                                            }
                                        </td>*@
                                        <td class="col-md-2">@driverDetails.City.Name</td>
                                        <td class="col-md-2">
                                            @driverDetails.DriverStatus.Status
                                        </td>
                                        <td class="col-md-2">@driverDetails.User.FirstName @driverDetails.User.LastName</td>
                                        <td class="col-md-2">
                                            @*<div class="col-md-2"><input type="button" class="btnViewDriverDetails" value="Details" onclick="fnGetDriverByID(this)"></div>*@
                                            <div class="col-md-2"><a href="@Url.Action("Details", "Driver", new { driverDetails.ID })" class="btnViewDriverDetails">Details</a></div>
                                        </td>
                                </tr>
                                }
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Driver Name</th>
                                <th>LicenseType</th>
                                <th>License No</th>
                                <th>Registered in</th>
                                <th>Status</th>
                                <th>Added By</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        </table>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{

    <!-- variables -->
    <script>
        var EditDriverDetailsbyIDUrl = '@Url.Action("Edit", "Drivers")';

        $(document).ready(function () {
            //Initialize data table
            $('.dataTables-drivers').dataTable({
                /* Disable initial sort */
                "aaSorting": []
            });
        });

        function fnGetDriverByID(element) {
            var trId = $(element).closest('tr').attr('id');
            var jmodel = { DriverDetailsID: JSON.stringify(trId) };

            $.ajax({
                url: EditDriverDetailsbyIDUrl,
                type: 'POST',
                data: jmodel,
                dataType: 'JSON',
               
            });
        }
        
    </script>
   
    @Scripts.Render("~/plugins/dataTables")
    <script src='@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")'></script>

}
