@using GBAdmin.Web.Services;
@model GBAdmin.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-sm-6">
        <h2>Welcome @SessionManager.GetSessionUser().FirstName</h2>
        <small>Check out Your Employee Updates on Driver Status</small>

    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model.New != null && Model.New.Count > 0) { 
            <div class="col-md-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Newly Added</h5>

                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            @foreach (var newCount in Model.New) { 
                            <li class="list-group-item">
                                <p>@newCount.Key <span class="pull-right"><span class="label label-info">@newCount.Value</span></span></p>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            }
            @if (Model.AttachedToUber != null && Model.AttachedToUber.Count > 0)
            {
                <div class="col-md-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Attached To Uber</h5>

                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group">
                                @foreach (var attachedToUberCount in Model.AttachedToUber)
                                {
                                    <li class="list-group-item">
                                        <p>@attachedToUberCount.Key <span class="pull-right"><span class="label label-success">@attachedToUberCount.Value</span></span></p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-12">
            @if (Model.Approved != null && Model.Approved.Count > 0)
            {
                <div class="col-md-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Approved</h5>

                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group">
                                @foreach (var approvedCount in Model.Approved)
                                {
                                    <li class="list-group-item">
                                        <p>@approvedCount.Key <span class="pull-right"><span class="label label-primary">@approvedCount.Value</span></span></p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Rejected != null && Model.Rejected.Count > 0)
            {
                <div class="col-md-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Rejected</h5>

                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group">
                                @foreach (var rejectedCount in Model.Rejected)
                                {
                                    <li class="list-group-item">
                                        <p>@rejectedCount.Key <span class="pull-right"><span class="label label-danger">@rejectedCount.Value</span></span></p>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")

 }