@using GBAdmin.Web.Services;
@model GBAdmin.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<style>
    .theme-whbl .main-box {
    border: 1px solid #e7ebee;
}
.infographic-box.colored {
    color: #fff;
    border: 0!important;
}
.infographic-box {
    padding: 20px;
}
.emerald-bg {
    background-color: #03a9f4!important;
}
.main-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 16px;
    border-radius: 3px;
    background-clip: padding-box;
}

.infographic-box.colored i {
    font-size: 4.6em;
    margin-left: 7px;
    color: #fff;
}
.infographic-box i {
    font-size: 2.4em;
    display: block;
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    color: #fff;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.infographic-box.colored .headline {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 4px;
}
.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.infographic-box .value {
    font-size: 2.1em;
    font-weight: 600;
    margin-top: -5px;
    display: block;
    text-align: right;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.infographic-box.colored {
    color: #fff;
    border: 0!important;
}
.green-bg {
    background-color: #8bc34a!important;
}
.red-bg {
    background-color: #e84e40!important;
}
.purple-bg {
    background-color: #9c27b0!important;
}


</style>
<div class="border-bottom white-bg dashboard-header">
    <div class="row">

        <div class="col-xs-8">
            <h2>Welcome @SessionManager.GetSessionUser().FirstName</h2>
            <small>Check out Your Employee Updates on Driver Status</small>

        </div>
        <div class="col-xs-4">
            <h2>Total - @Model.Total</h2>
        </div>
    </div>
    <div class="row-spacer-small"></div>
   
    <div class="row">        
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="main-box infographic-box colored emerald-bg">
                <i class="fa fa-globe"></i>
                <span class="headline">New</span>
                <span class="value">@Model.New</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="main-box infographic-box colored purple-bg">
                <i class="fa fa-spinner"></i>
                <span class="headline">In Progress</span>
                <span class="value">@Model.InProgress</span>
            </div>
        </div>        
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="main-box infographic-box colored red-bg">
                <i class="fa fa-times"></i>
                <span class="headline">Rejected</span>
                <span class="value">@Model.Rejected</span>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="main-box infographic-box colored green-bg">
                <i class="fa fa-check"></i>
                <span class="headline">Attached To Uber</span>
                <span class="value">@Model.AttachedToUber</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Progress Chart </h5>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas id="doughnutChart" height="140"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")
<script>
    var doughnutData = [               
                
                {
                    value: @Model.New,
                    color: "#b3b3ff",
                    highlight: "#03a9f4",
                    label: "New"
                },
                {
                    value: @Model.InProgress,
                    color: "#b5b8cf",
                    highlight: "#9c27b0",
                    label: "In Progress"
                },
                {
                    value: @Model.Rejected,
                    color: "#ffb3b3",
                    highlight: "#e84e40",
                    label: "Rejected"
                }, {
                    value: @Model.AttachedToUber,
                    color: "#e6ffe6",
                    highlight: "#8bc34a",
                    label: "Attached To Uber"
                }
                
    ];

    var doughnutOptions = {
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 45, // This is 0 for Pie charts
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
        responsive: true,
    };
    var ctx = document.getElementById("doughnutChart").getContext("2d");
    var myNewChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);
    </script>
 }